* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}


.slider {
  width:100%;
  height:575px;

  &__wrapper {
    width:1380px;
    height:100%;
    margin:0 auto;
    border-radius:10px;
  }

}


