* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

  .slide_element {
    height:450px;
    width:100%;
    display:flex;
    gap: 20px;
    padding: 30px 30px;
    flex-direction:column;
    flex-wrap:wrap;
    flex: 1 1 350px;

    &_one {
      width:350px;
      height:175px;
      background-color:green;
      border-radius: 25px;
    }
    &_four {
      background-color: red;
      width:500px;
      height: 375px;
      border-radius: 25px;
    }
  }
